instances/default/secrets/master.key
instances/default/.env

instances/default/data/backups
instances/default/data/run-logs
instances/default/data/storage
instances/default/data/workspace-operation-logs
instances/default/logs

instances/default/db/base
instances/default/db/global
instances/default/db/pg_hba.conf
!instances/default/db/pg_ident.conf
!instances/default/db/PG_VERSION
!instances/default/db/postgresql.auto.conf
!instances/default/db/postgresql.conf
!instances/default/db/postmaster.opts
!instances/default/db/postmaster.pid

instances/default/db/pg_logical
instances/default/db/pg_multixact
instances/default/db/pg_subtrans
instances/default/db/pg_wal
instances/default/db/pg_xact

instances/default/companies/5b59c6ed-08bc-447b-9c9c-18945fea7555/claude-prompt-cache
